<div class="container">
  <div class="row">
    <div class="col-lg-12 col-sm-6 col-lg-10">
      <div class="text-secondary">
        <div>
          <!-- <h1>{{appTitle}}</h1>!>-->
          <h1>Financial commitments</h1>
        </div>
        <span class="border-top-0">
          <div>
            <h6>
              Financial commitments are things like credit cards or loans. We
              need to know about these so we can make sure your mortgage<br />
              is affordable.If you share your financial commitments with your
              joint applicant , please only enter them once
            </h6>
          </div>
          <div>
            <h2>Your financial commitments</h2>
            <hr
              style="
                height: 4px;
                width: 83%;
                border-width: 10;
                color: black;
                background-color: black;
              "
            />
          </div>
          <div>
            Do you have any financial commitments such as credit cards or
            loans?<span style="color: red">&#42;</span>
            &nbsp;
            <i class="fa fa-question-circle"></i>
          </div>
          <br />
          <div>
            <button type="button" class="btn btn-light">Yes</button>
            &nbsp; &nbsp;
            <button type="button" class="btn btn-dark">No</button>
          </div>
        </span>
      </div>
    </div>
  </div>
</div>
