<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="text-secondary">
        <div>
          <button
            type="button"
            class="btn btn-dark btn-redius-mortgage"
          >
            Save and come back later
          </button>
          <button
            type="button"
            class="btn btn-danger btn-redius-mortgage float-right"
          >
            Save and continue
          </button>
          <div>
            <a class="float-left"  style="color: red" href="">Back</a>

            <a  class="float-right"  style="color: red " href="">Cancel</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
