<div class="container">
  <div class="row">
    <h5>Important Information</h5>
    <div class="float-left">
      <div class="card border-secondary text-secondary">
        <div class="card-body">
          <h6>
            YOUR HOME MAY BE RESPOSSEDED IF YOU DO NOT KEEP UP REPAYMENTS ON
            YOUR MORTGAGE
          </h6>
          <p>
            All Applications are subject to status and our lending creteria.This
            means that the amount we will lend you will depend on <br />
            your individual circumstances, the type of property and the amount
            you borrow. For example, we may requierea higher<br />
            deposit if you are buying a flat or a new build property.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
